#flex-card-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card-flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 33% 33% 33%;
  width: 100%;
}

.card-header {
  align-items: center;
  background-color: #f2f2f2;
  border-bottom: 1px solid #d1d2d3;
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
  height: 50px;
  padding-left: 10px;
}

.card {
  border: 1px solid #d1d2d3;
  height: 320px;
  margin: 20px;
  position: relative;
}

.card-image {
  position: absolute;
}

.card-1 {
  grid-column: 1 / span 2;
  background-image: url(./assets/firebird.jpg);
  background-position: center;
}

.card-2 {
  grid-column: 3;
  background-image: url(./assets/unicorn-girl.jpg);
  background-position: center;
}

.card-3 {
  grid-column: 1;
  grid-row: 2;
  background-image: url(./assets/pool-cat.jpg);
  background-position: center;
}

.card-4 {
  grid-column: 2;
  grid-row: 2;
  background-image: url(./assets/yellow-girl.jpg);
  background-position: center;
}

.card-5 {
  grid-column: 3;
  grid-row: 2;
  background-image: url(./assets/steps.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.card-6 {
  grid-column: 1;
  grid-row: 3;
  background-image: url(./assets/old.jpg);
  background-position: center;
}

.card-7 {
  grid-column: 2 / span 3;
  grid-row: 3;
  background-image: url(./assets/seuss.jpg);
  background-position: center;
}

.ghost-card {
  display: none;
}

@media (max-width: 970px) {
  .card-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 306px;
  }

  .ghost-card {
    display: unset;
    height: 1px;
    margin: 20px;
    width: 306px;
  }

  .flex {
    width: 90%;
  }
}